@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/* Content format */
body {
    font-family: "Source Serif 4", serif, "Georgia"; 
}

#content{
    max-width: 1600px; 
    margin: 0 auto;
}

h1, h3 {
    font-family: "Marhey", sans-serif, "Arial";
    text-align: center;
}

h3{
    font-size: 25px;
}

header {
    background-color: #fabe43;
    max-width: 100%;
}
/* Nav bar content */
.logo{
    width: 90px;
}

#logo_link {
    justify-self: center;
    align-self: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    font-size: 18px;
}

nav a:hover {
    background-color: #002642;
    color: white;
    text-decoration: none;
}
/* Main body content */
.home-grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}
.home-grid p{
    text-align: center;
    font-size: 18px;
}

.image-container{
    width: 50%;
    display: table;
    max-height: 500px;
}

/* .court{
    height: 100%;
} */

/* .paddles{
    height: 100%;
} */

.Gear {
    background-color: #FF934F;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
} 

.Gear p {
    text-align: left;
    padding: 0 50px 50px 50px;
}

.Advice {
    background-color: #FF934F;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
}

.Advice p {
    text-align: left;
    padding: 0 50px 50px 50px;
}

.Spots {
    background-color: #FF934F;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
}

.Spots p {
    text-align: left;
    padding: 0 50px 50px 50px;
}

/* #image-container1 {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background: url(../Pictures/pexels-franki-frank-29821186.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
} */

#image-container2 {
    height: 500px;
    width: 100%;
    background: url(../Pictures/pexels-lindsey-flynn-494668519-19641925.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

/* Footer bar content */
footer {
    background-color: #fabe43;
    color: black;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}

footer a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 25px;
}

footer a:hover {
    color: white;
    background-color:#002642;
    width: 65px;
}

footer .social img {
    width: 65px;
    height: 65px;
}

footer .social{
    display: flex;
}